In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="darkgrid")

In [58]:
train = pd.read_csv('../data/interim/train.csv')
test = pd.read_csv('../data/raw/test.csv')

In [59]:
test['datetime'] = pd.to_datetime(test['datetime'])
test['hour'] = test['datetime'].apply(lambda x:x.hour)
test['month'] = test['datetime'].apply(lambda x:x.month)
test['day_of_week'] = test['datetime'].apply(lambda x:x.dayofweek)

In [60]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,month,day_of_week
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0,1,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2,1,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3,1,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4,1,5

In [61]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,hour,month,day_of_week
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,0,1,3
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,1,3
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2,1,3
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,1,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,4,1,3

In [62]:
y_train = train['count']
y_train.to_csv('../data/processed/y_train.csv', index=False)
x_train = train[['season','holiday','workingday','weather','temp','atemp','humidity','windspeed','hour','month','day_of_week']]
test = test[['season','holiday','workingday','weather','temp','atemp','humidity','windspeed','hour','month','day_of_week']]

In [63]:
x_train['windspeed'].replace(0, np.nan, inplace=True)
x_train['windspeed'] = x_train['windspeed'].fillna(x_train.groupby('weather')['season'].transform('mean'))

C:\Users\alexf\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [67]:
x_train = pd.get_dummies(data=x_train, columns=['season', 'holiday', 'workingday', 'weather'])
test = pd.get_dummies(data=test, columns=['season', 'holiday', 'workingday', 'weather'])

In [72]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler = scaler.fit(x_train[['temp', 'atemp', 'humidity', 'windspeed']])
x_train[['temp', 'atemp', 'humidity', 'windspeed']] = scaler.transform(x_train[['temp', 'atemp', 'humidity', 'windspeed']])
test[['temp', 'atemp', 'humidity', 'windspeed']] = scaler.transform(test[['temp', 'atemp', 'humidity', 'windspeed']])

In [75]:
x_train.to_csv('../data/processed/x_train.csv', index=False)
test.to_csv('../data/processed/test.csv', index=False)